@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,400;1,500&display=swap');


* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
}





ul.wrapper_lista {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    gap: 14em;
}
a span {    
    font-family: 'Roboto', sans-serif;
    display: table-cell; 
    font-size: 8em;
    text-decoration: none;
    color: #111;
    margin: 0;
    padding: 0;
    animation: animate 2s linear infinite;
}

a span:nth-child(1) {
    animation-delay: 0s;
}
a span:nth-child(2) {
    animation-delay: 0.25s;
}
a span:nth-child(3) {
    animation-delay: 0.5s;
}
a span:nth-child(4) {
    animation-delay: 0.75s;
}
a span:nth-child(5) {
    animation-delay: 1s;
}
a span:nth-child(6) {
    animation-delay: 1.25s;
}
a span:nth-child(7) {
    animation-delay: 1.50s;
}
a span:nth-child(8) {
    animation-delay: 1.75s;
}

@keyframes animate 
{
    0%,100%
    {   color: #02f7ff;
        filter: blur(8px);
        text-shadow: 0 0 10px aqua,
         0 0 20px aqua,
         0 0 40px aqua,
         0 0 80px aqua,
         0 0 120px aqua,
         0 0 200px aqua,
         0 0 300px aqua,
         0 0 400px aqua;
    }
    5%,95%
    {
        color: #ffffff;
        filter: blur(0px);
        text-shadow: 0 0 10px none;
    }
}